@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes underline {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .underline-animation {
    position: relative;
    display: inline-block;
  }
  
  .underline-animation::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px; 
    width: 100%;
    background-color: white;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.4s ease;
  }
  
  .underline-animation:hover::after {
    transform: scaleX(1);
  }
  .underlinem-animation {
    position: relative;
    display: inline-block;
  }
  
  .underlinem-animation::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px; 
    width: 100%;
    background-color: #ef4444;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.4s ease;
  }
  
  .underlinem-animation:hover::after {
    transform: scaleX(1);
  }
